header {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem;
}

body {
  background: rgb(5, 179, 202);
}

#container {
  width: 80vw;
  height: auto;
  background: white;
  border-radius: 0.5rem;
  display: grid;
  margin: auto;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(9, auto);
  row-gap: 0.8rem;
  padding: 1rem;
}

.txt1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}

.formula_img {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.texto_valores {
  font-weight: 700;
  font-size: 1rem;
}

.valores {
  width: 100%;
}

.obs {
  color: red;
}

.bton {
  justify-self: center;
}

#RES {
  font-size: 1rem;
  margin: 1rem 0;
}

.obs,
.txt1,
.formula_img,
.bton,
#RES {
  grid-column: span 2;
}

footer {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

/*-----------------------Responsividade---------------------*/

@media screen and (min-width: 1280px) {
  header {
    font-size: 4rem;
  }
}
