header {
  text-align: center;
}

body {
  background: rgb(5, 179, 202);
}

#container {
  width: 80vw;
  height: auto;
  background: white;
  border-radius: 0.5rem;
  margin: auto;
  position: relative;
  text-align: center;
}

#Intro {
  display: flex;
  top: 0;
  width: 100%;
  height: auto;
  align-items: center;
}

#txt1 {
  width: 50%;
}

img {
  width: 50%;
}

#txt2 {
  padding-top: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 8%;
  width: 15%;
}
#txt3 {
  padding-top: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 21%;
  width: 15%;
}
#txt4 {
  padding-top: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 21%;
  width: 15%;
}
#txt5 {
  width: 25%;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

#valor_a {
  width: 25%;
  margin-right: 10%;
}
#valor_b {
  width: 25%;
  margin-right: 10%;
}
#valor_c {
  width: 25%;
}

#dec {
  width: 25%;
}

#obs {
  color: red;
}

#bton {
  text-align: center;
  margin-top: 2rem;
}

#RES {
  font-size: 1.5rem;
}

footer {
  text-align: center;
}
