header {
  text-align: center;
}

body {
  background: rgb(5, 179, 202);
}

#container {
  width: 60%;
  height: auto;
  background: white;
  border-radius: 0.5rem;
  margin: auto;
  padding: 1rem;
}

#txt1 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  font-size: x-large;
}

img {
  width: 48%;
  margin-top: 0.5rem;
}

#txt2 {
  padding-top: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 8%;
  width: 15%;
}
#txt3 {
  padding-top: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 21%;
  width: 15%;
}
#txt4 {
  padding-top: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-left: 21%;
  width: 15%;
}

#valor_a {
  width: 25%;
  margin-right: 10%;
}
#valor_b {
  width: 25%;
  margin-right: 10%;
}
#valor_c {
  width: 25%;
}

#bton {
  text-align: center;
  margin-top: 2rem;
}
